<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Olga Pastelería. Las mejores tortas en tu mesa - Pastelería clásica y vegana - Catálogo disponible">
<meta name="keywords"  content="pasteleria, pastel, pasteles, tortas, postres, postre, tortas personalizadas, tortas personalizadas zona sur, tortas personalizadas a domicilio, tortas personalizadas en avellaneda, tortas a pedido">
<title>Olga Pastelería - Catálogo</title>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous">
<!--Google fonts-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!--Fin google fonts-->

<link rel="stylesheet" type="text/css" href="../assets/css/pruebacss.css">

</head>


<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="../index.html">
        <img src="../media/logohomeicon.png" width="85" height="85" title="Logo Home Icon" alt="Logo Olga Pasteleria">
        </a>

<!--Burger button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--Fin burger button-->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="recetas.html">Recetas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Catálogo<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pedidos.html">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="quienesolga.html">Quién es Olga</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Búsqueda" aria-label="Search">
              <button class="searchButton rounded-circle btn my-2 my-sm-0" type="submit">
                <img src="../media/searchicon.png" width="34" height="34" title="Search Icon" alt="Search">
              </button>
            </form>
        </div>
    </nav>
</header>

<main role="main">

<div class="container">

<!--Start Catálogo-->
<div class="mb-3">
  <button class="btn btn-secondary col-3" type="button" data-toggle="collapse" data-target=".catalogodulce" aria-expanded="false" aria-controls="catalogodulce">Dulces</button>
  <button class="btn btn-secondary col-3" type="button" data-toggle="collapse" data-target=".catalogosalado" aria-expanded="false" aria-controls="catalogosalado">Salados</button>
  <button class="btn btn-secondary col-3" type="button" data-toggle="collapse" data-target=".catalogovegano" aria-expanded="false" aria-controls="catalogodulce catalogosalado">Vegano</button>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse catalogodulce">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-6 col-sm-8">
            <div class="card-body">
              <h5 class="card-title">Lunettes de Mermelada</h5>
              <p class="card-text">Ingredientes principales: Azúcar, Harina, Manteca, Mermelada</p>
              <p class="card-text"><small class="text-muted">Disponible en todos las presentaciones</small></p>
              <p class="card-text">
                <span class="badge badge-info">Precio estimado: XX-XX</span></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 d-none d-md-block">
            <img src="../media/dulce1.1.png" title="Lunettes" alt="lunettes1" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-lg-2 col-sm-3 d-none d-md-block">
            <img src="../media/dulce1.2.png" title="Lunettes" alt="lunettes1" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-6 d-sm-blok d-md-none">
            <img src="../media/dulce1.1.png" title="Lunettes" alt="lunettes1" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-6 d-sm-blok d-md-none">
            <img src="../media/dulce1.2.png" title="Lunettes" alt="lunettes1" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse catalogodulce">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-6 col-sm-8">
            <div class="card-body">
              <h5 class="card-title">Torta de Manzana</h5>
              <p class="card-text">Ingredientes principales: Harina, Azúcar, Huevos, Aceite, Miel</p>
              <p class="card-text"><small class="text-muted">Disponible en todos las presentaciones</small></p>
              <p class="card-text">
                <span class="badge badge-info">Precio estimado: XX-XX</span></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 d-none d-md-block">
            <img src="../media/dulce2.1.png" title="Torta de Manzana" alt="torta de manzana" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-lg-2 col-sm-3 d-none d-md-block">
            <img src="../media/dulce2.2.png" title="Torta de Manzana" alt="torta de manzana" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-6 d-sm-blok d-md-none">
            <img src="../media/dulce2.1.png" title="Torta de Manzana" alt="torta de manzana" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-6 d-sm-blok d-md-none">
            <img src="../media/dulce2.2.png" title="Torta de Manzana" alt="torta de manzana" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse catalogosalado">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-6 col-sm-8">
            <div class="card-body">
              <h5 class="card-title">Scones de Queso</h5>
              <p class="card-text">Ingredientes principales: Harina, Azúcar, Queso crema</p>
              <p class="card-text"><small class="text-muted">Disponible en paquete de 500 gr</small></p>
              <p class="card-text">
                <span class="badge badge-info">Precio estimado: XX-XX</span></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 d-none d-md-block">
            <img src="../media/salado1.1.png" title="Torta de Manzana" alt="torta de manzana" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-lg-2 col-sm-3 d-none d-md-block">
            <img src="../media/salado1.2.png" title="Torta de Manzana" alt="torta de manzana" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-6 d-sm-blok d-md-none">
            <img src="../media/salado1.1.png" title="Torta de Manzana" alt="torta de manzana" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-6 d-sm-blok d-md-none">
            <img src="../media/salado1.2.png" title="Torta de Manzana" alt="torta de manzana" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse catalogosalado catalogovegano">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-6 col-sm-8">
            <div class="card-body">
              <h5 class="card-title">Algo Vegano y Salado</h5>
              <p class="card-text">Ingredientes principales: En construcción</p>
              <p class="card-text"><small class="text-muted">Disponible en -en construcción-</small></p>
              <p class="card-text">
                <span class="badge badge-info">Precio estimado: XX-XX</span></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 d-none d-md-block">
            <img src="../media/salado1.1.png" title="default" alt="default" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="default">
          </div>
          <div class="col-lg-2 col-sm-3 d-none d-md-block">
            <img src="../media/salado1.2.png" title="default" alt="default" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-6 d-sm-blok d-md-none">
            <img src="../media/salado1.1.png" title="default" alt="default" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="col-6 d-sm-blok d-md-none">
            <img src="../media/salado1.2.png" title="default" alt="default" 
                class="img-fluid mx-auto mb-1"
                role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end catálogo-->

</div><!--end container-->

<hr class="dividerHeader">


<!--footer-->
  <footer class="container">
    <p class="float-right">
      <a href="#">
        <img src="../media/chevron-upwards-arrow.png" width="35" height="35" title="Back to top" alt="Back to top icon">
      </a>
    </p>
    <p>&copy; 2021 All rights reserved &middot;
      <a href="https://www.instagram.com/olga.pasteleria/">
        <img src="../media/igicon.png" width="35" height="35" title="Instagram" alt="Instagram icon">
      </a>
      &middot;
      <a href="https://api.whatsapp.com/send?phone=5491153438311&text=Hola!%20Me%20interesa%20saber%20m%C3%A1s%20sobre%20tus%20productos.">
        <img src="../media/whatsappicon.png" width="35" height="35" title="Whatsapp" alt="Whatsapp icon">
      </a>
    </p>
  </footer>
<!--end footer-->


</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


      
</body>
</html>