<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Olga Pastelería. Las mejores tortas en tu mesa - Pastelería clásica y vegana a pedido - Quiénes somos - Conocenos y hacé tu pedido">
<meta name="keywords"  content="pasteleria, pastel, pasteles, tortas, postres, postre, tortas personalizadas, tortas personalizadas zona sur, tortas personalizadas a domicilio, tortas personalizadas en avellaneda, tortas a pedido">
<title>Olga Pastelería - Quienes somos</title>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous">
<!--Google fonts-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!--Fin google fonts-->

<link rel="stylesheet" type="text/css" href="../assets/css/pruebacss.css">

</head>


<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="../index.html">
        <img src="../media/logohomeicon.png" width="85" height="85" title="Logo Home Icon" alt="Logo Olga Pasteleria">
        </a>

<!--Burger button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--Fin burger button-->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="recetas.html">Recetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="catalogo.html">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pedidos.html">Pedidos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Quién es Olga<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Búsqueda" aria-label="Search">
              <button class="searchButton rounded-circle btn my-2 my-sm-0" type="submit">
                <img src="../media/searchicon.png" width="34" height="34" title="Search Icon" alt="Search">
              </button>
            </form>
        </div>
    </nav>
</header>

<main role="main">

<div class="container">


<!--quien es olga-->
<div class="row olgaga">
  <div class="col-md-12">
    <h4>Olga</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 col-md-7">
    <p>Este emprendimiento arrancó como una forma de mostrarle a ella lo que me enseñó.<br><br>
    Olga es mi abuela, y es la que me inculcó todo el amor que tengo por la cocina,
    más que nada la pastelería.<br>
    Desde los 5 o 6 años tengo recuerdos de estar con ella en la cocina de mi casa, 
    viendo desde lo bajo como sus manos, que para mí eran mágicas, 
    creaban budines, tortas, brownies, todo de una manera perfecta, con una pulcritud que solo ella tiene.<br><br>
    En cada cumpleaños no podian faltar las tortas hecha por ella, que de tanto relleno que tenían te 
    llenabas con una porción, pero lo ricas que eran te obligaban a repetir.<br>
    Lo mismo para las fiestas de fin de año, todos esperaban el momento de que se hagan 
    las 12 para comer sus postres.</p>
  </div>
  <div class="col-lg-5 col-md-5">
    <img src="../media/olga1.png" title="olga" alt="olga" 
      class="img-fluid mx-auto rounded"
      role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
  </div> 

</div>
<div class="row olgaga">
  <div class="col-12">
    <h6>Hoy, ya con sus 80 años, cocina menos de lo que a ella y a todos les gustaría, pero yo
      continúo su legado.<br>
      Ahora soy yo quien hace las tortas en su cumpleaños, y los postres para las fiestas,
      aunque por más que lo intente, nada me va a salir tan rico como lo hacía ella.<br>
      Te amo vieja y esta es mi manera de honrarte, haciendo lo que a los dos tanto nos gusta.
    </h6>
  </div>
</div>
<!--end quien es olga-->


</div><!--end container-->
<hr class="dividerHeader">


<!--footer-->
  <footer class="container">
    <p class="float-right">
      <a href="#">
        <img src="../media/chevron-upwards-arrow.png" width="35" height="35" title="Back to top" alt="Back to top icon">
      </a>
    </p>
    <p>&copy; 2021 All rights reserved &middot;
      <a href="https://www.instagram.com/olga.pasteleria/">
        <img src="../media/igicon.png" width="35" height="35" title="Instagram" alt="Instagram icon">
      </a>
      &middot;
      <a href="https://api.whatsapp.com/send?phone=5491153438311&text=Hola!%20Me%20interesa%20saber%20m%C3%A1s%20sobre%20tus%20productos.">
        <img src="../media/whatsappicon.png" width="35" height="35" title="Whatsapp" alt="Whatsapp icon">
      </a>
    </p>
  </footer>
<!--end footer-->


</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


        
</body>
</html>