@charset "UTF-8";
body {
  font-family: 'Nunito', sans-serif;
  background-color: #FFFFFF;
  color: #39201c;
}
a {
  color: #39201c;
  text-decoration: none;
}
a:hover {
  color: #3a211db3; /*same font as body font color with 0.7 op*/
}

header nav {
  background-color: #ffffff; /*change to solid color*/
  border-bottom: 4mm ridge #39201ccc; /*change opacity, here at 0.8*/
} 
.nav-link {
  font-size: 120%;
}
@media (max-width: 768px) {
  .nav-link {
    font-size: 100%;
  }
}

.mainMine { /*custom main-margin for no-carousel page, positioning content down the fixed-top navbar*/
  margin-top: 10rem;
}

.carousel {/*custom main-margin for pages with carousel, equals custom main-margin*/
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 25%;
  top: 25%;
  z-index: 10;
  color: #39201C;
  right: 25%;
  left: 25%;
}
.carousel-item {
  height: 32rem;/*height declared because img positioning is absolute*/
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 32rem;/*change min-height since images are 16:9, change to 32rem*/
}
footer {
  margin-top: 4rem;
  background-color: #39201cb3;
  color:#ffffff;
}
footer a {
  color:#ffffff;
}
footer a:hover {
  font-weight: bolder;
}
/*custom class*/
.fontPacific {
  font-family: 'Pacifico', cursive;
}
.fontNune {
  font-family: 'Nunito', sans-serif;
}
.transparentWhite {
  background-color:#fbf4f4e6;
}

/*edit css for btns*/
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
color: inherit; /*avoids bg-color added per styling when you don't click the btn*/
}
.btn-check:focus + .btn, .btn:focus {
outline: 0;
box-shadow: 0 0 0 0.25rem #39201c40;
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
pointer-events: none;
opacity: 0.65;
}
/*rewritting btn-primary class*/
.btn-primary {
color: #ffffff;
background-color: #39201C;
border-color: #39201C;
}
.btn-primary:hover {
color: #ffffff;
background-color: #624540;
border-color: #624540;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
color: #ffffff;
background-color: #624540;
border-color: #624540;
box-shadow: 0 0 0 0.25rem #62454040
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
color: #ffffff;
background-color: #624540;
border-color: #624540;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.25rem #62454040;
}
.btn-primary:disabled, .btn-primary.disabled {
color: #ffffff;
background-color: #624540;
border-color: #624540;
}
/*along with btn-outline-primary class*/
.btn-outline-primary {
color: #39201C;/*btn-primary colorset*/
border-color: #39201C;
}
.btn-outline-primary:hover {
color: #ffffff;
background-color: #39201C;
border-color: #39201C;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
box-shadow: 0 0 0 0.25rem #39201c80;
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
color: #ffffff;
background-color: #39201C;
border-color: #39201C;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
box-shadow: 0 0 0 0.25rem #39201c80;
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
color: #39201C;
background-color: transparent;
}
/*btn-close for X in modals/offcanvas/pop-ups*/
.btn-close {
color: inherit;
}
.btn-close:hover {
color: #624540;
text-decoration: none;
opacity: 0.75;
}
.btn-close:focus {
outline: 0;
box-shadow: 0 0 0 0.25rem #39201c80;
opacity: 1;
}
.btn-close:disabled, .btn-close.disabled {
pointer-events: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
opacity: 0.25;
}
/*btn default for "close" block or "see more", overrides partially, use of !important may be needed*/
.btnMine {
  background-color:#1F100F;
  color:#ffffff;
  font-weight: bolder;
  border-style: none;
  box-shadow: none;
}
.btnMine:hover {
  color:#ffffff;
  background-color:#774A62;
  box-shadow: 0 0 0 0.25rem #39201c80;
}
.btnMine:focus {
  color:#ffffff;
  background-color:#774A62;
}
.btnMine:active {
  color:#ffffff;
  background-color:#774A62;
  box-shadow: 0 0 0 0.25rem #39201c80;
}
/*end edit css for btns*/


/*card decks*/
.card-deck .card {
  text-align: center; 
}
  .card-deck .card div {
    background-color: #ffffff;}
    .card-deck .card div .card-title {
      font-family: 'Pacifico', cursive;}
    .card-deck .card div button a {
      /*aplica solo al link incluido en la card del index, que no es un modal*/
      text-decoration: none;
      color: inherit; }

/*recetas.html*/
.tabdeRecetas {
  text-align: center; }
  .tabdeRecetas a {
    border-style: none;
    box-shadow: none; }
  .tabdeRecetas a.active {
    background-color: #1F100F;
    font-weight: bolder;
    border-style: none; }
  .tabdeRecetas a:hover {
    background-color: #624540;
    color: #FFFFFF; }

/*solo para cambiar texto de cards en el tabpane de Recetas*/
.tab-pane .card {
  text-align: left; }
.tab-pane .card-group .card-footer i {
  text-align: right;
}



/*apply vars in root for custom css
:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
}
a {
  color: var(--bs-mine);
}
*/

/*rules btns & links
.linkkMine:link {
  color: #ffffff;
  background-color: #402B26;
  border-color: #402B26;
  box-shadow: none !important;
}
.linkkMine:visited {
  background-color: rgb(76, 51, 46, 0.7);
}
.btnMine {
  color: #ffffff;
  background-color: #402B26;
  border-color: #402B26;
  font-weight: bolder;

}
.btnMine:focus {
  background-color: red;
  box-shadow: none !important; agregarla solo si puedo cambiar border de botones
}
.btnMine:hover {
  background-color: #402b26cc;
}
.btnMine:active {
  background-color: #402b26cc;
}
*/


/*floating wsp icon*/
#whatsappFloatingButton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color:#25d366;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1000;
  animation: whatsappButtonAnimation 0.5s; }

#whatsappFloatingButton svg {
  width: 36px;
  fill: #ffffff;}

@-webkit-keyframes whatsappButtonAnimation {
  0% {
    transform: scale3d(0, 0, 0);
    transition: transform 0.3s ease-in-out; }
  100% {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s cubic bezier(0.18, 0.89, 0.32, 1.28); } }

@keyframes whatsappButtonAnimation {
  0% {
    transform: scale3d(0, 0, 0);
    transition: transform 0.3s ease-in-out; }
  100% {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s cubic bezier(0.18, 0.89, 0.32, 1.28); } }

@media screen and (max-width: 768px) {
  #whatsappFloatingButton {
    width: 36px;
    height: 36px; }
  #whatsappFloatingButton svg {
    width: 20px; } }
/*end floating wsp icon*/
