@charset "UTF-8";
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../../media/textures/wall-bg.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffffce;
  color: #1a1108; }
  body a {
    color: #1a1108;
    font-weight: bolder;
  } 
  body a:hover {
      color:#1a1108bd;}
  body .dividerHeader {
    /*separador presente en todas las páginas*/
    margin: 5rem 7rem 5rem 7rem;
    border-width: 0.2rem;
    border-color:#1A1108;}

/*botones Ver Recetas/Cerrar Modal/Ver preparación*/
.btn-secondary {
  background-color:#1A1108;
  color:#ffffff;
  font-weight: bolder;
  border-style: none;
  box-shadow: none !important; }

.btn-secondary:active {
  background-color:#57392ece !important; }

.btn-secondary:hover {
  background-color:#57392ece; }

.btn-secondary:focus {
  background-color:#1A1108; }


header {
  margin-bottom: 9rem;}
  header nav {
    background-color: #ffffff;
    border-bottom: solid 0.2rem #000000;} 
    header button:hover {
    background-color:#ebebeb; }
.navbar {
  color: black;
}
.nav-item {
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;}
.nav-link {
  font-weight: normal;
}

/*card decks*/
.card-deck .card {
  text-align: center; 
}
  .card-deck .card div {
    background-color: #ffffff;}
    .card-deck .card div .card-title {
      font-family: 'Ubuntu', sans-serif; }
    .card-deck .card div button a {
      /*aplica solo al link incluido en la card del index, que no es un modal*/
      text-decoration: none;
      color: inherit; }

/*clases del index*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

.featContent-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }

/*resp css featcontent en index*/
@media (min-width: 40em) {
  .featContent-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featContent {
    margin: auto 8rem auto 8rem; }
  .featContent-heading {
    margin-top: 2rem; } }

/*recetas.html*/
.tabdeRecetas {
  text-align: center; }
  .tabdeRecetas a {
    border-style: none;
    box-shadow: none; }
  .tabdeRecetas a.active {
    background-color: #1A1108;
    font-weight: bolder;
    border-style: none; }
  .tabdeRecetas a:hover {
    background-color: #1a1108b6;
    color: #F5F5F3; }

/*solo para cambiar texto de cards en el tabpane de Recetas*/
.tab-pane .card {
  text-align: left; }

/*whatsapp icon para contactarse*/
#whatsappFloatingButton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color:#25d366;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1000;
  animation: whatsappButtonAnimation 0.5s; }

#whatsappFloatingButton svg {
  width: 36px;
  fill: #fff; }

@-webkit-keyframes whatsappButtonAnimation {
  0% {
    transform: scale3d(0, 0, 0);
    transition: transform 0.3s ease-in-out; }
  100% {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s cubic bezier(0.18, 0.89, 0.32, 1.28); } }

@keyframes whatsappButtonAnimation {
  0% {
    transform: scale3d(0, 0, 0);
    transition: transform 0.3s ease-in-out; }
  100% {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s cubic bezier(0.18, 0.89, 0.32, 1.28); } }

@media screen and (max-width: 768px) {
  #whatsappFloatingButton {
    width: 36px;
    height: 36px; }
  #whatsappFloatingButton svg {
    width: 20px; } }

/*End whatsapp icon flotante para contactarse*/
